* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

#squares {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 80px;
    height: 50px;
    padding: 5px;
    text-align: center;
    background-color: #e5a430;
    vertical-align: middle;
    line-height: 50px;

    border: 2px solid black;
}

.square-blue {
    background-color: #3d67af;
}

.square-red {
    background-color: #c3c2e1;
}

.square-green {
    background-color: #646368;
}

.square:hover {
    filter: scale(1.2);
}


.puff-in-center {
	animation: puff-in-center 0.7s linear both;
}

@keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  